.home-container {
    background: #00695C; /* Match the yoga theme */
    color: #FFFFFF; /* White text for contrast */
    font-family: 'Raleway', sans-serif;
    min-height: 100vh; /* Full height */
    display: flex;
    flex-direction: column; /* Flex layout for container */
    overflow: hidden; /* Prevent overflow */
}

.home-header {
    background: #00695C; /* Header background */
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    position: relative; /* Position relative to ensure stacking */
}

.home-heading {
    font-size: 30px;
    color: #f8a516; /* Bright orange */
    font-family: 'Kaushan Script', cursive;
}

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px; /* Offset for header */
    padding: 20px 0; /* Space at the top and bottom */
    flex: 1; /* Allows the main section to grow */
    background: url('../../utils/images/yoga_pose.png') no-repeat center center; /* Background image */
    background-size: 500px; /* Ensure the image covers the entire area */
    opacity: 0.9; /* Make the background slightly transparent */
}

.description {
    font-size: 48px;
    color: #FFFFFF; /* White for contrast */
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Subtle shadow for better visibility */
}

.btn-section {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF; /* Bright blue */
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.btn:hover {
    background: #0056b3; /* Darker blue on hover */
    transform: scale(1.05); /* Slight scale effect */
}

.footer {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    padding: 20px;
    text-align: center;
    color: white;
}
