.chatbot-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; /* Full height for the viewport */
    background-color: rgba(224, 247, 250, 0.8); /* Light teal */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    color:white
}

.chatbot-header {
    /* background-color: #0b9e8d;  */
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: black; /* Text color set to white for contrast */
}


.chatbot-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(224, 247, 250, 0.8); /* White background for message area */
}

.message {
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    max-width: 50%;
    word-wrap: break-word; /* Allow words to wrap */
    overflow-wrap: break-word; /* Ensure long words are broken */
}

.message.user {
    align-self: flex-end;
    background-color: #1381f7; 
    color: white;
    white-space: pre-wrap; /* Preserve whitespace and wrap long text */
}
.message.assistant {
    align-self: flex-start;
    background-color:  #3ab657; /* Yellow */
    color: white;
}

.chatbot-input {
    display: flex;
    padding: 20px;
    background-color:  rgba(224, 247, 250, 0.8); 
}

.chatbot-input input {
    flex-grow: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chatbot-input button {
    padding: 15px 20px;
    margin-left: 10px;
    border: none;
    background-color:  #00695C; /* Green */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
