/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the body takes up full height */
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 0; /* Remove padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons button {
  background: #555;
  color: #fff;
  margin: 0 0.5rem;
  border: none;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 0; /* Remove padding */
  margin: 0; /* Ensure there's no margin */
  background-color: #00695C; /* Set background color directly */
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 0; /* Remove padding */
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  text-align: center;
  margin-top: 1rem;
}

/* General body styling */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
