.volunteer-info {
    min-height: 100vh; /* Full height to cover the viewport */
    background-color: #E0F7FA; /* Light teal background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
}

.volunteer-info-heading {
    font-size: 48px;
    color: #00695C; /* Deep teal for heading */
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for text */
    margin-bottom: 40px;
}

.volunteer-info-content-container {
    width: 80%;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.9); /* Slight opacity for background */
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow for depth */
}

.volunteer-info-content {
    color: #333333; /* Dark text for readability */
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
    margin-top: 10px;
    padding: 20px;
    background-color: #ffffff; /* White background for content area */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for content */
}

.volunteer-info-cta-btn {
    margin-top: 40px;
    padding: 18px 28px;
    background-color: #3ab657; /* Fresh green for the button */
    color: #ffffff;
    font-size: 1.3em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.volunteer-info-cta-btn:hover {
    background-color: #1381f7; /* Blue hover effect */
    transform: translateY(-3px); /* Slight lift effect on hover */
}

@media (max-width: 768px) {
    .volunteer-info-heading {
        font-size: 36px;
    }

    .volunteer-info-content-container {
        width: 90%;
        padding: 30px;
    }

    .volunteer-info-content {
        font-size: 18px;
        padding: 15px;
    }
}
