/* Header Styles */
.home-container {
    background: #00695C;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    position: relative;
}
.home-header {
    background: #004d40; /* Darker shade for the header */
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color:#FFFFFF
}

.home-heading {
    font-size: 30px; /* Larger font for the logo */
    color: #FFA500; /* Orange color for the logo text */
}

.header-buttons {
    display: flex;
}

.header-buttons .btn {
    margin-left: 10px; /* Space between buttons */
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.header-buttons .btn:hover {
    background: #0056b3; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Adjusts button styles for better spacing and alignment */
.header-buttons .btn:first-child {
    margin-left: 0; /* No margin for the first button */
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 20px; /* Space between icon and heading */
}