.home-container {
    background: #F6F8FA; /* Soft beige */
    color: #2C3E50; /* Dark slate gray */
    font-family: 'Raleway', sans-serif;
    min-height: 100vh; /* Ensure the container covers the full height */
    position: relative;
}

.home-header {
    background: #001F3F; /* Deep navy blue */
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed; /* Fix the header at the top */
    z-index: 1000; /* Ensure it stays above other elements */
}

.home-heading {
    font-size: 36px;
    color: white;
    font-family: 'Kaushan Script', cursive;
}

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px; /* Offset for fixed header */
    height: calc(100vh - 70px); /* Adjust height to accommodate fixed header */
    position: relative; /* Allow positioning of the image */
    overflow: hidden; /* Prevent overflow of image */
    background: url('../../utils/images/yoga_pose.png') no-repeat center center/cover; /* Ensure image is centered and covers */
    opacity: 0.4; /* Adjust as needed for visibility */
}

.description {
    font-size: 48px;
    color: #3498DB; /* Light turquoise */
    text-align: center;
    margin: 20px 0; /* Add some spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
}

.btn-section {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #3498DB; /* Light turquoise */
    color: white;
    font-size: 24px;
    border: 2px solid #2980B9; /* Slightly darker turquoise */
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

.btn:hover {
    background: #2980B9; /* Brighter turquoise */
}

.footer {
    background: #001F3F; /* Deep navy blue */
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
}
